<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- imports the head.handlebars file from partials into here-->
    {{>head}}
    <title>Hotel Transylvania Express Worksite</title>
  </head>
  <body>
    {{>htnavbar}}
    <div class="container">
    <!-- body is where all of the handlebarfiles in views will go-->
    {{{body}}}
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
